<nz-card nzHoverable nzSize="small" [nzCover]="coverTemplate" [nzActions]="[actionDetail]">
  <nz-card-meta [nzTitle]="nombreProducto" [nzDescription]="'Costo en Puntos: ' + descProducto"></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img alt="producto" [src]="imgProducto" />
</ng-template>
<ng-template #actionDetail>
  <button class="ant-btn-black" nzTooltipTitle="Detalles" nzTooltipPlacement="top" nz-button nz-tooltip nzType="primary"
    nzSize="small" nzShape="circle"><i nz-icon nzType="ellipsis"></i></button>
</ng-template>
