<app-exchange-detail-modal [modalIsVisible]="detailModalIsVisible" contentLoading="false" [detailData]="selectedObject"
  (modalState)="closeDetailsModal()">
</app-exchange-detail-modal>

<div class="view-title">
  <h5 nz-title>Canjes Pendientes</h5>
</div>


<div class="grid-container">


  <div nz-row [nzGutter]="16" style="display: flex; justify-content: center;">
    <div *ngIf="gridIsLoading" class="univ-loading-container">
      <nz-spin nzSimple></nz-spin>
    </div>

    <table class="ui very compact celled table">

      <thead class="super-compact">
        <tr>
          <th>Nº</th>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Fecha de Canje</th>
          <th>Tipo de Canje</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataList">
          <td>{{data.id}}</td>
          <td>{{data.client_data.first_name}}</td>
          <td>{{data.product_data.id}}</td>
          <td>{{data.created_at | date:'dd/MM/yyyy'}}</td>
          <td>{{data.id}}</td>

          <td class="action-shelf">
            <button class="ant-btn-black" (click)="getRecordData(data.id)" nz-button nzType="primary" nzSize="small"
              nzShape="circle"><i nz-icon nzType="ellipsis"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
