.full-menu {
  background-color: rgb(16, 60, 61, 0.97);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  top: 0;
  left: 0;
  display: none;
  transition: all .3s ease;
}

.full-menu.visible {
  display: block;
  overflow: auto;
  transition: all .3s ease;
}

.exit {
  padding: .5em 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit>span {
  font-size: 2.5em !important;
}

.exit>i {
  position: absolute;
  left: .8em;
  transition: all .3s ease !important;
  color: #eee !important;
  font-size: 2em !important;
}

.exit>i:hover {
  color: rgb(255, 87, 34) !important;
}

.full-menu-list {
  display: flex !important;
  width: 60% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  overflow-y: auto;
  /* grid-template-rows: auto !important; */
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
}

.full-menu-item {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  width: 40% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 1em 0;
  padding-left: 0 !important;
  line-height: 100% !important;
  height: 100% !important;
}

.full-menu-item>* {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .5em;
}
