.grid-container {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.ant-row {
  margin: 0 !important;
}

.ant-col:not(.ant-form-item-label.ant-col) {
  margin-bottom: 1.25em;
}
