<app-product-modal-add [modalIsVisible]="addModalIsVisible" [typeProductList]="typeProductList"
  [categorieList]="categorieList" (modalState)="closeModal()" (parentReload)="loadData()">
</app-product-modal-add>


<div class="view-title">
  <h5 nz-title>Gestión de Productos</h5>
  <button nz-button class="ant-btn-success" (click)="showModal()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Agregar
  </button>
</div>

<div class="grid-container">
  <div nz-row [nzGutter]="16">

    <app-product-card-loading *ngFor="let item of [0,1,2,3,4,5]" nz-col nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" [isLoading]="gridIsLoading">
    </app-product-card-loading>

    <app-product-card nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" *ngFor="let item of dataList" [nombreProducto]="item.name"
      [descProducto]="item.point_cost" [imgProducto]="item.product_picture"></app-product-card>

  </div>
</div>
