<nz-modal [nzClosable]="false" [nzKeyboard]="false" [(nzVisible)]="addModalIsVisible" nzTitle="Agregar Producto"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">

  <ng-template #modalContent>
    <p>Contenido Garca</p>
  </ng-template>


  <ng-template #modalFooter>
    <button nz-button class="ant-btn-black" (click)="handleCancel()" nzType="default">Cancelar</button>
    <button nz-button [nzLoading]="addModalIsLoading" class="ant-btn-success" (click)="handleOk()"
      nzType="primary">Agregar</button>
  </ng-template>
</nz-modal>


<div class="view-title">
  <h5 nz-title>Gestión de Productos</h5>
  <button nz-button class="ant-btn-success" (click)="showModal()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Agregar
  </button>
</div>

<div class="grid-container">
  <div nz-row [nzGutter]="16">

    <app-product-card-loading nz-col [nzSpan]="8" [isLoading]="gridIsLoading"></app-product-card-loading>
    <app-product-card-loading nz-col [nzSpan]="8" [isLoading]="gridIsLoading"></app-product-card-loading>
    <app-product-card-loading nz-col [nzSpan]="8" [isLoading]="gridIsLoading"></app-product-card-loading>

    <app-product-card nz-col [nzSpan]="8" *ngFor="let item of dataList" [nombreProducto]="item.name"
      [descProducto]="item.description" [imgProducto]="item.product_picture"></app-product-card>

  </div>
</div>
