<div nz-row>
  <div *ngIf="isLoading" class="univ-loading-container">
    <nz-spin nzSimple></nz-spin>
  </div>

  <form id="redemptionForm" [formGroup]="redemptionForm" nz-form>
    <div nz-row nzType="flex" [nzGutter]="24">
      <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8">
        <h4>Selecciona el tipo de canje</h4>
        <nz-select formControlName="tipo_canje" (ngModelChange)="tipoCanjeChanged()" style="width: 100%;" nzXs="24"
          nzSm="24" nzMd="8" nzLg="8" nzShowSearch nzAllowClear nzPlaceHolder="Tipo de Canje">
          <nz-option nzLabel="Normal" nzValue="1"></nz-option>
          <nz-option nzLabel="Regalo" nzValue="2"></nz-option>
        </nz-select>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8">
        <h4>Selección de cliente</h4>
        <nz-select style="width: 100%;" formControlName="id_cliente" (ngModelChange)="clienteChange()"
          [nzDisabled]="clienteDisabled" nzPlaceHolder="Cliente" nzAllowClear nzShowSearch>
          <nz-option *ngFor="let client of clientList"
            [nzValue]="{id: client.id, points: client.points, name: client.first_name + ' '+ client.last_name}"
            [nzLabel]="client.first_name + ' ' + client.last_name + ' - ' + client.email "></nz-option>
        </nz-select>

      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8">
        <h4>Selección de producto</h4>
        <nz-select formControlName="id_producto" (ngModelChange)="productoChange()" style="width: 100%;" nzShowSearch
          nzAllowClear nzPlaceHolder="Producto" [nzDisabled]="productoDisabled">
          <nz-option *ngFor="let prod of productList" [nzValue]="{id: prod.id, name: prod.name}" [nzLabel]="prod.name">
          </nz-option>
        </nz-select>
      </div>
    </div>
  </form>

  <div *ngIf="showDetails" style="margin-top: 1.5em;" class="view-title">
    <h5 nz-title>Detalle</h5>
  </div>

  <div nz-row nzType="flex" [nzGutter]="24" *ngIf="showDetails" class="redemption-details">
    <div *ngIf="showCliente" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" class="detail-card left">
      <h4>Cliente</h4>
      <ul>
        <li><b>Nombre:</b> {{selectedClient.first_name + ' ' +selectedClient.last_name}} </li>
        <li><b>E-mail:</b> {{selectedClient.email}} </li>
        <li><b>Teléfono:</b>
          {{(selectedClient.phone != null) ? selectedClient.phone.substring(3, selectedClient.phone.length) : selectedClient.phone}}
        </li>
        <li><b>Cumpleaños:</b> {{selectedClient.birthday | date:'dd/MM'}} </li>
        <li><b>Puntos:</b> {{selectedClient.points}} </li>
      </ul>
    </div>
    <div *ngIf="showProduct" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" class="detail-card right">
      <h4>Producto</h4>
      <ul>
        <li><b>Nombre:</b> {{selectedProduct.name}} </li>
        <li><b>Descripción:</b> <br> {{selectedProduct.description}} </li>
        <li><b>Costo en puntos:</b> {{selectedProduct.point_cost}} </li>
      </ul>
    </div>
  </div>


  <div nz-row nzType="flex" nazAlign="middle" nzJustify="end" [nzGutter]="24">
    <div nz-col style="padding: 1em 0 !important;">
      <button type="button" (click)="checkoutModal()" nz-button [nzLoading]="false" class="ant-btn-success"
        nzType="primary">Canjear</button>
    </div>
  </div>
</div>
