<nz-modal [nzClosable]="false" [nzKeyboard]="false" [(nzVisible)]="modalIsVisible" nzTitle="Gestión de Puntos"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">

  <ng-template #modalContent>
    <form [formGroup]="pointsForm" id="pointsForm" nz-form nzLayout="vertical" (ngSubmit)="handleOk()">
      <nz-form-item>
        <nz-form-label>El cliente posee {{clientPoints}} puntos para canje:</nz-form-label>
        <nz-form-control nzErrorTip="Ingrese una descripción">
          <nz-input-number formControlName="points" style="width: 100%;" [nzMin]="minPoints" [nzMax]="maxPoints"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <!-- <nz-switch [(ngModel)]="switchState"></nz-switch> -->
          <nz-switch formControlName="key" [nzCheckedChildren]="checkedTemplate"
            [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
          <ng-template #checkedTemplate><i nz-icon nzType="plus" nzTheme="outline"></i></ng-template>
          <ng-template #unCheckedTemplate><i nz-icon nzType="minus" nzTheme="outline"></i></ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>


  <ng-template #modalFooter>
    <button nz-button class="ant-btn-black" (click)="handleCancel()" nzType="default">Cancelar</button>
    <button nz-button type="submit" [nzLoading]="modalIsLoading" class="ant-btn-yellow" form="pointsForm"
      nzType="primary">Actualizar</button>
  </ng-template>
</nz-modal>
