<div class="view-title">
  <h5 nz-title>Productos Disponibles Para Canjear</h5>

  <span>
    Puntos Acumulados {{userPoints}}
    <span>
      <nz-progress nzStrokeColor="#00695C" [nzPercent]="percentPoints" nzSize="small" nzStatus="active"
        [nzShowInfo]="false"></nz-progress>
    </span>
  </span>
</div>

<div class="grid-container">
  <div>

    <app-client-home-product-card-loading *ngFor="let item of [0,1,2,3,4,5]" [isLoading]="gridIsLoading">
    </app-client-home-product-card-loading>

    <app-client-home-product-card *ngFor="let item of dataList" [nombreProducto]="item.name" [userPoint]="userPoints"
      [prodCost]="item.point_cost" [imgProducto]="'https://eatperse.com:8443/myimg/' + item.product_picture"
      [fullObject]="item">
    </app-client-home-product-card>

  </div>
</div>
