<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'sm'" [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger">
    <!-- <div class="univ-loading-container">
      <nz-spin nzSimple></nz-spin>
    </div> -->
    <div class="logo">
      <span class="perse-logo">{{headerBarText}}</span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item [routerLink]="['./home']" nzMatchRouter>
        <i nz-icon nzType="home"></i>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item [routerLink]="['./clients']" nzMatchRouter>
        <i nz-icon nzType="user"></i>
        <span>Clientes</span>
      </li>
      <li nz-menu-item [routerLink]="['./sellers']" nzMatchRouter>
        <i nz-icon nzType="team"></i>
        <span>Vendedores</span>
      </li>
      <li nz-menu-item [routerLink]="['./products']" nzMatchRouter>
        <i nz-icon nzType="gold"></i>
        <span>Productos</span>
      </li>
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="header-row" nz-row nzType="flex" nzJustify="space-between" nzAlign="top">
        <div nz-col>
          <i class="trigger material-icons" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed; changeState(isCollapsed)"></i>
        </div>
        <a class="user-dropdown" nz-dropdown nzTrigger="click" nz-col [nzDropdownMenu]="menu">
          <div class="avatar-circ">
            <i nz-icon nzType="user" nzTheme="outline"></i>
          </div>
          {{email}}
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <i nz-icon nzType="setting" nzTheme="outline"></i>
              Preferencias
            </li>

            <li nz-menu-divider></li>
            <li (click)="logout()" nz-text nzType="danger" class="text-danger" nz-menu-item>
              <i nz-icon nzType="danger" class="text-danger" nzType="poweroff" nzTheme="outline"></i>
              Cerrar Sesión
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
  <ng-template #zeroTrigger>
    <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
  </ng-template>

</nz-layout>
