<nz-layout>

  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'sm'" [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger">
    <div *ngIf="permissionLoading" class="univ-loading-container">
      <nz-spin nzSimple></nz-spin>
    </div>
    <div class="logo">
      <span class="perse-logo">{{headerBarText}}</span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li *ngFor="let menuItem of permitList" nz-menu-item [routerLink]="'.' + menuItem.route" nzMatchRouter>
        <i nz-icon [nzType]="menuItem.icon"></i>
        <span>{{menuItem.display_name}}</span>
      </li>
      <!--       <li nz-menu-item [routerLink]="['./clients']" nzMatchRouter>
        <i nz-icon nzType="user"></i>
        <span>Clientes</span>
      </li>
      <li nz-menu-item [routerLink]="['./sellers']" nzMatchRouter>
        <i nz-icon nzType="team"></i>
        <span>Vendedores</span>
      </li>
      <li nz-menu-item [routerLink]="['./products']" nzMatchRouter>
        <i nz-icon nzType="gold"></i>
        <span>Productos</span>
      </li> -->
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="header-row" nz-row nzType="flex" nzJustify="space-between" nzAlign="top">
        <div nz-col>
          <i class="trigger material-icons" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed; changeState(isCollapsed)"></i>
        </div>
        <a class="user-dropdown" nz-dropdown nzTrigger="click" nz-col [nzDropdownMenu]="menu">
          <div class="avatar-circ">
            <i nz-icon nzType="user" nzTheme="outline"></i>
          </div>
          {{email}}
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <!-- <li nz-menu-divider></li> -->
            <li (click)="logout()" nz-text nzType="danger" class="text-danger" nz-menu-item>
              <i nz-icon nzType="danger" class="text-danger" nzType="poweroff" nzTheme="outline"></i>
              Cerrar Sesión
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <!-- <div class="skew-background">
      </div> -->
      <ul nz-menu class="bottom-bar" *ngIf="deviceWidth" nzMode="horizontal">
        <li nz-menu-item nzSelected>
          <i nz-icon nzType="mail"></i>
          Navigation One
        </li>
        <li nz-menu-item nzDisabled>
          <i nz-icon nzType="appstore"></i>
          Navigation Two
        </li>
        <li nz-submenu nzTitle="Navigation Three - Submenu" nzIcon="setting">
          <ul>
            <li nz-menu-group nzTitle="Item 1">
              <ul>
                <li nz-menu-item>Option 1</li>
                <li nz-menu-item>Option 2</li>
              </ul>
            </li>
            <li nz-menu-group nzTitle="Item 2">
              <ul>
                <li nz-menu-item>Option 3</li>
                <li nz-menu-item>Option 4</li>
                <li nz-submenu nzTitle="Sub Menu">
                  <ul>
                    <li nz-menu-item nzDisabled>Option 5</li>
                    <li nz-menu-item>Option 6</li>
                  </ul>
                </li>
                <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                  <ul>
                    <li nz-menu-item>Option 5</li>
                    <li nz-menu-item>Option 6</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li nz-menu-item>
          <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
        </li>
      </ul>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>


    </nz-content>
  </nz-layout>
  <ng-template #zeroTrigger>
    <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
  </ng-template>

</nz-layout>
