<nz-layout>
  <nz-sider *ngIf="notClient && !deviceWidth" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'sm'"
    [nzCollapsedWidth]="collapsedWith" [nzTrigger]="null">
    <div *ngIf="permissionLoading" class="univ-loading-container">
      <nz-spin nzSimple></nz-spin>
    </div>
    <div class="logo">
      <span class="perse-logo">{{headerBarText}}</span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li *ngFor="let menuItem of permitList" nz-menu-item [routerLink]="'.' + menuItem.route" nzMatchRouter>
        <i nz-icon [nzType]="menuItem.icon"></i>
        <span>{{menuItem.display_name}}</span>
      </li>
    </ul>

  </nz-sider>
  <nz-layout>
    <div class="skew-background" id="skew-background">
    </div>
    <nz-header>
      <div class="header-row" nz-row nzType="flex" nzJustify="space-between" nzAlign="top">
        <div nz-col>
          <i *ngIf="notClient && !deviceWidth; else clientTrigger" class="trigger material-icons" nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed; changeState(isCollapsed)"></i>

          <ng-template #clientTrigger>
            <i class="trigger material-icons" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              (click)="fullMenuVisible = !fullMenuVisible"></i>
          </ng-template>

          <span *ngIf="!notClient || deviceWidth" class="perse-logo" style="color: #222 !important;">Persé</span>
        </div>
        <a class="user-dropdown" nz-dropdown nzTrigger="click" nz-col [nzDropdownMenu]="menu">
          <div class="avatar-circ">
            <i nz-icon nzType="user" nzTheme="outline"></i>
          </div>
          {{email}}
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <!-- <li nz-menu-divider></li> -->
            <li (click)="logout()" nz-text nzType="danger" class="text-danger" nz-menu-item>
              <i nz-icon nzType="danger" class="text-danger" nzType="poweroff" nzTheme="outline"></i>
              Cerrar Sesión
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <app-full-menu [menuList]="permitList" [menuIsVisible]="fullMenuVisible" (menuState)="closeFullMenu()">
      </app-full-menu>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>


    </nz-content>

  </nz-layout>

</nz-layout>
