<div class="full-flex">
  <div class="filter">


    <div [ngClass]="{'desktop': !deviceWidth, 'mobile': deviceWidth }" class="card parent-card login-card">

      <div *ngIf="!deviceWidth" [ngClass]="{'desktop-lay': !deviceWidth, 'mobile-lay': deviceWidth }"
        class="left-division">

        <div class="perse-header">
          <p>Persé</p>
        </div>
        <div class="perse-content-left">
          <span nz-title>
            Bienvenido al sistema de fidelización Persé. Ingresa el correo electrónico o número telefónico con el que
            has sido
            registrado y verifica los productos disponibles a canjear.
          </span>
        </div>
      </div>

      <div [ngClass]="{'desktop-lay': !deviceWidth, 'mobile-lay': deviceWidth }" class="right-division">
        <div *ngIf="deviceWidth" class="mobile-top-banner">
          <div class="perse-header mobile">
            <p>Persé</p>
          </div>
        </div>
        <h2 *ngIf="!deviceWidth" nz-title>Ingresar</h2>
        <div class="login-form">
          <form class="form-element" nz-form [formGroup]="loginForm" (ngSubmit)="login()">
            <nz-form-item>
              <nz-form-control nzErrorTip="Ingrese su E-mail o Número Telefónico">
                <nz-input-group nzPrefixIcon="user">
                  <input type="email" formControlName="email" nz-input placeholder="E-mail o Número Telefónico" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="requirePass">
              <nz-form-control nzErrorTip="Ingrese su contraseña">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" id="pwd" formControlName="password" nz-input placeholder="Contraseña" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="button-row">
              <nz-form-control>
                <button nz-button class="login-form-button" [nzLoading]="loginButtonLoading"
                  [nzType]="'primary'">Iniciar
                  Sesión</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>

      </div>


    </div>

    <div *ngIf="deviceWidth" class="card message-card">
      <div class="ant-notification-notice-content">
        <div class="ant-notification-notice-with-icon">
          <span class="ant-notification-notice-icon"><i nz-icon nzType="info-circle"
              style="color: rgb(16, 142, 233);"></i></span>
          <div class="ant-notification-notice-description">
            Bienvenido al sistema de fidelización Persé. Ingresa el correo electrónico o número telefónico con el que
            has sido
            registrado y verifica los productos disponibles a canjear.
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="card parent-card">
      <nz-alert nzType="success" nzMessage="Bienvenido al sistema de fidelizacion Perse. Ingresa el correo electronico con el que has sido registrado y verifica los productos disponibles a canjear.
      "></nz-alert>
    </div> -->
  </div>
</div>
