<app-clients-modal-add [modalIsVisible]="addModalIsVisible" (modalState)="closeModal()" (parentReload)="loadData(1)">
</app-clients-modal-add>

<app-clients-modal-delete [modalIsVisible]="deleteModalIsVisible" [userId]="userId" (modalState)="closeModalDelete()"
  (parentReload)="loadData(1)">
</app-clients-modal-delete>

<app-clients-modal-edit [modalIsVisible]="editModalVisible" [dataList]="dataListEdit" [id]="userId"
  (modalState)="closeModalEdit()" (parentReload)="loadData()" #edit>
</app-clients-modal-edit>

<app-clients-modal-points [modalIsVisible]="pointsModalIsVisible" [contentLoading]="pointsModalcontentLoading"
  [clientPoints]="userPoints" [clientName]="userName" [clientId]="userId" (modalState)="closePointsModal()"
  (parentReload)="loadData(1)">
</app-clients-modal-points>

<app-clients-modal-spam [modalIsVisible]="spamModalIsVisible" [spamIsMassive]="spamIsMassive" [spamUserId]="spamUserId"
  [contentLoading]="spamModalContentLoading" (modalState)="closeSpamModal()" (parentReload)="loadData(1)">
</app-clients-modal-spam>

<div class="view-title">
  <h5 nz-title>Gestión de Clientes</h5>

  <div class="button-bar">
    <a href="https://eatperse.com:8443/api/v1/reports/get-my-clients" target="_blank" style="margin-right: 1em;"
      nz-button nzType="dashed" title="Exportar Excel">
      <i nz-icon nzType="file-excel" nzTheme="outline"></i>
    </a>
    <button style="margin-right: 1em;" (click)="showSpamModal(true, 0)" nz-button nzType="primary"
      title="Mensaje de Difusión">
      <i nz-icon nzType="mail" nzTheme="outline"></i>
    </button>
    <button nz-button class="ant-btn-success" (click)="showModal()">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      Agregar
    </button>
  </div>
</div>

<div class="grid-container">

  <div nz-row [nzGutter]="16" style="margin: 0;">


    <div nz-col [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 24, offset: 0 }" [nzMd]="{ span: 6, offset: 18 }"
      [nzLg]="{ span: 6, offset: 18 }" style="margin-bottom: 1em; padding-right: 0;">
      <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
        <input type="text" nz-input placeholder="Buscar" [(ngModel)]="search_data" (change)="searchClients()" />
      </nz-input-group>
      <ng-template #prefixTemplate>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <ng-template #suffixTemplate>
        <i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="search_data"
          (click)="index()"></i>
      </ng-template>
    </div>


  </div>

  <div nz-row [nzGutter]="16" style="margin:0; overflow: auto;">
    <div *ngIf="gridIsLoading" class="univ-loading-container">
      <nz-spin nzSimple></nz-spin>
    </div>
    <nz-empty *ngIf="dataList.length === 0"></nz-empty>

    <table *ngIf="dataList.length > 0" class="ui very compact celled table">

      <thead class="super-compact">
        <tr>
          <th>Nº</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>E-mail</th>
          <th>Teléfono</th>
          <th>Puntos</th>
          <th>Cumpleaños</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataList">
          <td>{{data.id}}</td>
          <td>{{data.first_name}}</td>
          <td>{{data.last_name}}</td>
          <td>{{data.email}}</td>
          <td>{{(data.phone != null) ? data.phone.substring(3, data.phone.length) : data.phone}}</td>
          <td>{{data.points}}</td>
          <td>{{data.birthday | date:'dd/MM'}}</td>
          <td class="action-shelf">
            <button class="ant-btn-blue" nz-button nzType="primary" nzSize="small" nzShape="circle"
              (click)="edit.loadDataEdit(data.id)"><i nz-icon nzType="edit"></i></button>
            <button class="ant-btn-red" nz-button nzType="primary" nzSize="small" nzShape="circle"
              (click)="showModalDelete(data.id)"><i nz-icon nzType="delete"></i></button>
            <button class="ant-btn-yellow" (click)="showPointsModal(data.id)" nz-button nzType="primary" nzSize="small"
              nzShape="circle"><i nz-icon nzType="dollar-circle" nzTheme="fill"></i></button>
            <button class="ant-btn-black" (click)="showSpamModal(false, data.id)" nz-button nzType="primary"
              nzSize="small" nzShape="circle"><i nz-icon nzType="message"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <nz-table [nzLoading]="gridIsLoading" #borderedTable nzBordered nzSize="small" [nzData]="dataList">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>E-mail</th>
          <th>Teléfono</th>
          <th>Puntos</th>
          <th>Cumpleaños</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataList">
          <td>{{data.id}}</td>
          <td>{{data.first_name}}</td>
          <td>{{data.last_name}}</td>
          <td>{{data.email}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.points}}</td>
          <td>{{data.birthday | date:'dd/MM/yyyy'}}</td>
          <td class="action-shelf">
            <button class="ant-btn-blue" nz-button nzType="primary" nzSize="small" nzShape="circle"><i nz-icon
                nzType="edit"></i></button>
            <button class="ant-btn-red" nz-button nzType="primary" nzSize="small" nzShape="circle"><i nz-icon
                nzType="delete"></i></button>
            <button class="ant-btn-black" nz-button nzType="primary" nzSize="small" nzShape="circle"><i nz-icon
                nzType="ellipsis"></i></button>
            <button class="ant-btn-yellow" (click)="showPointsModal(data.id)" nz-button nzType="primary" nzSize="small"
              nzShape="circle"><i nz-icon nzType="dollar-circle" nzTheme="fill"></i></button>
          </td>
        </tr>
      </tbody>
    </nz-table> -->

  </div>

  <div *ngIf="dataList.length > 0" class="paging-footer">
    <p class="paging-description">
      Mostrando registros del {{pagingData.from}} al {{pagingData.to}} de un total de {{pagingData.total}}
    </p>
    <nz-button-group>
      <button nz-button (click)="loadData(1)" nzType="default">
        <i nz-icon nzType="vertical-right" nzTheme="outline"></i>
      </button>
      <button nz-button (click)="loadData((pagingData.currentPage - 1))" nzType="default">
        <i nz-icon nzType="left" nzTheme="outline"></i>
      </button>
      <button nz-button *ngFor='let in of createArray(pagingData.lastPage) ;let i = index'
        [ngClass]="{'active': (pagingData.currentPage == (i+1))}" (click)="loadData((i+1))"
        nzType="default">{{i + 1}}</button>
      <button nz-button (click)="loadData((pagingData.currentPage + 1))" nzType="default">
        <i nz-icon nzType="right" nzTheme="outline"></i>
      </button>
      <button nz-button (click)="loadData(pagingData.lastPage)" nzType="default">
        <i nz-icon nzType="vertical-left" nzTheme="outline"></i>
      </button>
    </nz-button-group>
  </div>
</div>
