<app-clients-modal-add [modalIsVisible]="addModalIsVisible" (modalState)="closeModal()" (parentReload)="loadData()">
</app-clients-modal-add>

<div class="view-title">
  <h5 nz-title>Gestión de Clientes</h5>
  <button nz-button class="ant-btn-success" (click)="showModal()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Agregar
  </button>
</div>

<div class="grid-container">

  <div nz-row [nzGutter]="16" style="margin: 0;">


    <div nz-col nzOffset="18" nzSpan="6" style="margin-bottom: 1em; padding-right: 0;">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="input search text" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </div>


  </div>

  <div nz-row [nzGutter]="16" style="margin:0;">
    <nz-table [nzLoading]="gridIsLoading" #borderedTable nzBordered [nzData]="dataList">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>E-mail</th>
          <th>Teléfono</th>
          <th>Cumpleaños</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataList">
          <td>{{data.id}}</td>
          <td>{{data.first_name}}</td>
          <td>{{data.last_name}}</td>
          <td>{{data.email}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.birthday | date:'dd/MM/yyyy'}}</td>
          <td class="action-shelf">
            <button class="ant-btn-blue" nz-button nzType="primary" nzSize="small" nzShape="circle"><i nz-icon
                nzType="edit"></i></button>
            <button class="ant-btn-red" nz-button nzType="primary" nzSize="small" nzShape="circle"><i nz-icon
                nzType="delete"></i></button>
            <button class="ant-btn-black" nz-button nzType="primary" nzSize="small" nzShape="circle"><i nz-icon
                nzType="ellipsis"></i></button>
            <button class="ant-btn-yellow" nz-button nzType="primary" nzSize="small" nzShape="circle"><i nz-icon
                nzType="dollar-circle" nzTheme="fill"></i></button>
          </td>
        </tr>
      </tbody>
    </nz-table>

  </div>
</div>
