<app-clients-modal-add [modalIsVisible]="addModalIsVisible" (modalState)="closeModal()" (parentReload)="loadData()">
</app-clients-modal-add>

<div class="view-title">
  <h5 nz-title>Gestión de Clientes</h5>
  <button nz-button class="ant-btn-success" (click)="showModal()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Agregar
  </button>
</div>

<div class="grid-container">
  <div nz-row [nzGutter]="16">
    <nz-table #borderedTable nzBordered>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td>{{ data.name }}</td>
                    <td>{{ data.age }}</td>
                    <td>{{ data.address }}</td> -->
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </nz-table>

  </div>
</div>
