<app-sellers-modal-add [modalIsVisible]="addModalIsVisible" (modalState)="closeModal()" (parentReload)="loadData()">
</app-sellers-modal-add>

<app-sellers-modal-edit [modalIsVisible]="editModalVisible" [dataList]="dataListEdit" [id]="userId"
  (modalState)="closeModalEdit()" (parentReload)="loadData()" #edit>
</app-sellers-modal-edit>

<app-sellers-modal-delete [modalIsVisible]="deleteModalIsVisible" [userId]="userId" (modalState)="closeModalDelete()"
  (parentReload)="loadData()">
</app-sellers-modal-delete>


<div class="view-title">
  <h5 nz-title>Gestión de Vendedores</h5>
  <button nz-button class="ant-btn-success" (click)="showModal()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Agregar
  </button>
</div>

<div class="grid-container">

  <!-- <div nz-row [nzGutter]="16" style="margin: 0;">


    <div nz-col nzOffset="18" nzSpan="6" style="margin-bottom: 1em; padding-right: 0;">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Buscar" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </div>


  </div> -->

  <div nz-row [nzGutter]="16" style="margin:0;">

    <div *ngIf="gridIsLoading" class="univ-loading-container">
      <nz-spin nzSimple></nz-spin>
    </div>
    <nz-empty *ngIf="dataList.length === 0"></nz-empty>

    <table *ngIf="dataList.length > 0" class="ui very compact celled table">

      <thead>
        <tr>
          <th>Nº</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Acciones</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataList">
          <td>{{data.id}}</td>
          <td>{{data.first_name}}</td>
          <td>{{data.last_name}}</td>
          <td class="action-shelf">
            <button class="ant-btn-blue" nz-button nzType="primary" nzSize="small" nzShape="circle"
              (click)="edit.loadDataEdit(data.id)"><i nz-icon nzType="edit"></i></button>
            <button class="ant-btn-red" nz-button nzType="primary" nzSize="small" nzShape="circle"
              (click)="showModalDelete(data.id)"><i nz-icon nzType="delete"></i></button>
            <!-- <button class="ant-btn-black" nz-button nzType="primary" nzSize="small" nzShape="circle"><i nz-icon
                  nzType="ellipsis"></i></button> -->

          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div *ngIf="dataList.length > 0" class="paging-footer">
    <p class="paging-description">
      Mostrando registros del {{pagingData.from}} al {{pagingData.to}} de un total de {{pagingData.total}}
    </p>
    <nz-button-group>
      <button nz-button (click)="loadData(1)" nzType="default">
        <i nz-icon nzType="vertical-right" nzTheme="outline"></i>
      </button>
      <button nz-button (click)="loadData((pagingData.currentPage - 1))" nzType="default">
        <i nz-icon nzType="left" nzTheme="outline"></i>
      </button>
      <button nz-button *ngFor='let in of createArray(pagingData.lastPage) ;let i = index'
        [ngClass]="{'active': (pagingData.currentPage == (i+1))}" (click)="loadData((i+1))"
        nzType="default">{{i + 1}}</button>
      <button nz-button (click)="loadData((pagingData.currentPage + 1))" nzType="default">
        <i nz-icon nzType="right" nzTheme="outline"></i>
      </button>
      <button nz-button (click)="loadData(pagingData.lastPage)" nzType="default">
        <i nz-icon nzType="vertical-left" nzTheme="outline"></i>
      </button>
    </nz-button-group>
  </div>
</div>
