.ant-btn-success {
  color: #fff;
  background-color: #21BA45;
  border-color: #21BA45;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  transition: background-color .3s ease;
}

.ant-btn-success:hover {
  background-color: #16ab39;
  border-color: #16ab39;
  color: #fff;
}

.ant-btn-success:focus {
  background-color: #21BA45;
  border-color: #21BA45;
  color: #fff;
}
