.logo {
  background: #db5127;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
}

.perse-logo {
  font-family: 'Grand Hotel';
  font-size: 2em;
  font-weight: 400;
  color: #eee;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 0 1em;
  padding: 1.25em 1.25em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.card {
  background: #fff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 1.25em 1.25em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}


.header-row {
  width: 95%;
}

.view-title {
  font-family: 'Catamaran-Bold';
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: .05em;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.text-danger {
  color: #f5222d;
}
