:focus {
  outline: none !important;
}

.logo {
  background: #D35400;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
}

.perse-logo {
  font-family: 'Grand Hotel';
  font-size: 2em;
  font-weight: 400;
  color: #eee;
}

.inner-content {
  padding: 24px;
  background: #fff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 0 1em;
  margin-bottom: 2em;
  padding: 1.25em 1.25em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.card {
  background: #fff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 1.25em 1.25em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.ant-row {
  margin: 0 !important;
}

.header-row {
  width: 95%;
}

.view-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 7px;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.dataTable {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

.view-title>h5 {
  font-family: 'Catamaran-Bold';
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
}

.view-title>button {
  margin-right: 0.5em !important;
  /* margin-bottom: 1em !important; */
}

.text-danger {
  color: #f5222d;
}

.ant-btn {
  border-radius: 4px;
  font-weight: 300;
  font-family: 'Catamaran-Bold';
}

.ant-calendar-picker {
  width: 100%;
}

.action-shelf {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.univ-loading-container {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.ant-card-small>.ant-card-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ant-card-small>.ant-card-body>* {
  display: block;
}

.skew-background {
  z-index: 1;
  width: 100%;
  height: 20%;
  background: #333;
  /* margin: -3em; */
  /*   top: 0;
  left: 0; */
  position: relative;
}
