<div class="view-title">
  <h5 nz-title>Historial de Canjes</h5>
</div>


<div class="grid-container">

  <div nz-row [nzGutter]="16" style="margin: 0;">


    <div nz-col nzOffset="18" nzSpan="6" style="margin-bottom: 1em; padding-right: 0;">
      <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
        <input type="text" nz-input placeholder="Buscar" [(ngModel)]="search_data" (change)="searchRecords()" />
      </nz-input-group>
      <ng-template #prefixTemplate>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <ng-template #suffixTemplate>
        <i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="search_data"
          (click)="index()"></i>
      </ng-template>
    </div>


  </div>

  <div nz-row [nzGutter]="16" style="display: flex; justify-content: center;">
    <div *ngIf="gridIsLoading" class="univ-loading-container">
      <nz-spin nzSimple></nz-spin>
    </div>

    <table class="ui very compact celled table">

      <thead class="super-compact">
        <tr>
          <th>Nº</th>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Fecha de Canje</th>
          <th>Tipo de Canje</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataList">
          <td>{{data.id}}</td>
          <td>{{data.client_data.first_name}}</td>
          <td>{{data.product_data.name}}</td>
          <td>{{data.created_at | date:'dd/MM/yyyy'}}</td>
          <td>{{data.type_redemption.name}}</td>

          <td class="action-shelf">
            <button class="ant-btn-black" (click)="getRecordData(data.id)" nz-button nzType="primary" nzSize="small"
              nzShape="circle"><i nz-icon nzType="ellipsis"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
